*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    --bg-dark-1: #2b2c30 ;
    --bg-dark-2: #35313b ;
    --bg-dark-3: #453745 ;
    --color-pink-1:#ff1457;
    --color-pink-2: #613c4c;
}

@media (max-width: 700px){
    .App .btns button{
        width: 40%;
        height: 30px;
        background-color: var(--bg-dark-3);
        color: var(--color-pink-1);
        font-weight: bold;
        font-size: 0.7rem; 
        border: white solid 1px;
        text-decoration: none;
        border-radius: 10px;
    }
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-dark-2);
}

.containerList{
    display: flex   ;
    justify-content: center;
    background-color: var(--bg-dark-2);
    padding-top: 20px;
    
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 70%;
    height: 10vh;
    background-color: var(--bg-dark-3);
}

.App .btns button:nth-child(1){
    background-color: #2a242a;
}

.App .btns button{
    width: 50%;
    height: 30px;
    background-color: var(--bg-dark-3);
    color: var(--color-pink-1);
    font-weight: bold;
    font-size: 1rem;
    border: white solid 1px;
    text-decoration: none;
    border-radius: 7px;
}

.btns button:hover{
    background-color: var(--color-pink-1) ;
    border: var(--color-pink-2) solid 2px;
    color:var(--bg-dark-1);
    border-radius: 10px;
}

.btns button:nth-child(1):hover{
    background-color: var(--color-pink-1) ;
    border: var(--color-pink-2) solid 2px;
    color:var(--bg-dark-1);
    border-radius: 10px;
}

@media (max-width:700px){
    .App .btns button{
        font-size: 0.6rem;
    }

}

